[access]
	inheritFrom = All-Projects
[project]
	description = A repository for softhsm modifications and hardware security plugin.\n\nMoved to read-only as per RELENG-3648
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-aaf-sshsm-committers
	read = deny group GitHub Replication
[plugin "its-jira"]
	enabled = true
